.two-col-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    justify-content: scroll;
    .two-col {
        padding: 16px;
        // border: 1px solid white;
    }
}


.three-col-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    .three-col {
        padding: 5px;
        // border: 1px solid white;
    }
}

.four-col-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 10px;

}

