@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,100&display=swap');

// Variables
$header-font: 'Montserrat', sans-serif;
$body-font-color: #888888;
$white: #ffffff;
$orange: #FF651C;


// Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;