#article-section {
  margin-bottom: 100px;
  width: 100%;
}
.article-container {
  width: 500px;
  margin: 0 auto;
}
.blog-image {
  width: 450px;
  height: 275px;
  margin: 0 auto;
  transition: 0.2s;
}
.blog-image:hover {
  opacity: 0.5;
}
a.article {
  text-decoration: none;
}
a.article:visited {
  color: white;
}
h3.blog-title {
  margin-top: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  color: white;
  width: 500px;
  text-align: center;
}

// @media only screen and (max-width: 800px) {
// }
