.contact-header {
  margin-bottom: 100px;
}
.ContactForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
}
.form-control {
  margin: 10px;
}
.submit-btn {
  background-color: #0f0717;
  border: 1px solid #37313e;
  font-family: "Quicksand", sans-serif;
  color: #6efcf1;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 50px;
  margin-right: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #ffffff;
  color: #6efcf1;
}
#contact-container {
  width: 500px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 20px;
}
.social-container {
  margin-left: 15px;
  margin-right: 15px;
  display: inline;
}

#contact-button-container {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

@media only screen and (max-width: 800px) {
  #contact-container {
    width: 100%;
  }

  #contact-button-container {
    margin-bottom: 100px;
  }
  .social-container:last-child {
    margin-bottom: 10px;
  }
}
