.contact-page {
  min-height: 90vh;
}
.contact-header {
  margin-bottom: 150px;
}
.ContactForm {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
}
.form-control {
  margin: 10px;
  border: 2px solid #232640;
}
.formInput {
  color: #000000;
}
#message-input {
  height: 250px;
}

textarea::placeholder {
  opacity: 1;
}

.submit-btn {
  background-color: #d3681c;
  border-radius: 3px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border-style: none;
  position: relative;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition-duration: 0.4s;
}
.submit-btn:hover {
  background-color: #ffffff;
  color: #d3681c;
}
#contact-container {
  width: 500px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 20px;
}
#social-container {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
a {
  text-decoration: none;
}
.contact-social-icon {
  margin: 0 auto;
  text-align: center;
  transition: 0.4s;
  color: #1a202c;
}
.contact-social-icon:hover {
  color: #fe883c;
}
#contact-button-container {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}
.social-container {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #contact-title {
    font-size: 30px;
  }
  .ContactForm {
    max-width: 400px;
  }
  #contact-container {
    width: 100%;
  }

  #contact-button-container {
    margin-bottom: 100px;
  }
  .social-container:last-child {
    margin-bottom: 10px;
  }
}
