/* Home Header */
#page {
  width: 100%;
}
#container {
  display: block;
}
.tsparticles-canvas-el {
  background: #232640;
  padding: 10px;
  display: block;
  width: 100%;
}
#hero-image {
  width: 150px;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  position: relative;
  pointer-events: none;
}
#hero-header {
  color: #ff7800;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 18px;
  pointer-events: none;
  #dev {
    font-family: "Source Code Pro", monospace;
    font-size: 23px;
    font-weight: bold;
  }
  #des {
    font-family: "Poiret One", cursive;
    font-weight: bold;
    font-size: 25px;
  }
  #crea {
    font-family: "Gluten", cursive;
    font-size: 25px;
  }
  .header-divider {
    color: #fff;
    pointer-events: none;
  }
}

.contact-button {
  background-color: #d3681c;
  border-radius: 3px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border-style: none;
  position: relative;
  margin: 0 auto;
  display: block;
  transition-duration: 0.4s;
}
.contact-button:hover {
  background-color: white;
  color: #d3681c;
  cursor: pointer;
}
#hero-subheader {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  pointer-events: none;
  .sub-header-focus {
    color: #ff7800;
    font-weight: bolder;
  }
}

.react-slideshow-container .default-nav {
  background: #232640;
}

/* Projects Section */
.home-projects {
  margin-top: 100px;
}
.slideshow-container {
  padding: 10px;
  margin-top: 100px;
}

#projects-button {
  background-color: #d3681c;
  border-radius: 3px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border-style: none;
  position: relative;
  margin: 0 auto;
  display: block;
  transition-duration: 0.4s;
}
#projects-button:hover {
  background-color: white;
  color: #d3681c;
  cursor: pointer;
}
.more-projects-button {
  margin-top: 50px;
}

/* Skills Section */
#home-skills {
  margin-top: 20px;
  text-align: center;
  margin: 0 auto;
}
#home-experience {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
#experience-title {
  font-family: proxima-nova, sans-serif;
  font-weight: bold;
}
#experience-company,
#experience-position,
#experience-date {
  text-align: left;
  width: 400px;
  margin: 0 auto;
}

#experience-company {
  font-size: 20px;
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
}
#experience-position {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}
#experience-date {
  font-size: 12px;
  font-family: proxima-nova, sans-serif;
  // font-weight: bolder;
  color: #d3681cdc;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 800px) {
  #hero-subheader {
    font-size: 17px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #home-experience {
    width: 95%;
  }
}

@media only screen and (min-width: 1024px) {
  #home-experience {
    max-width: 95%;
  }
}
