.navbar {
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 0px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;

  #main-menu-container {
    width: 500px;
    border: 1px solid #37313e;
    border-bottom: #1c1026;
    border-radius: 10px 10px 0px 0px;
    margin: 0 auto;
    background-color: #0f0717;
    opacity: 0.95;
  }
  a {
    font-family: "Oxanium", cursive;
    text-align: center;
    display: inline-block;
    color: rgb(150, 150, 150);
    text-decoration: none;
    font-size: 17px;
    padding: 8px 10px;
    margin: 0px auto;
    font-size: 15px;
    margin-left: 8px;
    margin-right: 8px;
    transition: 0.4s;
  }
  a:hover {
    color: rgb(255, 255, 255);
  }
  svg.main-menu-icon {
    margin: 0 auto;
    color: #60d8ce;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .navbar #main-menu-container {
    width: 100%;
  }
  .navbar {
    a {
      padding: 4px 6px;
      margin-left: 5px;
      margin-right: 5px;
      // margin-bottom: 10px;
    }
  }
}
