.projects {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
.projects-section {
  width: 500px;
  text-align: center;
  margin-top: 50px;
  text-align: center;
}
.media-section {
  margin: 0 auto;
  width: 100%;
}
.project-section {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.project-image {
  width: 500px;
  transition: 0.2s;
}
.project-image:hover {
  opacity: 0.5;
  cursor: pointer;
}
.project-title {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: white;
}
.media-title {
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  color: white;
}
.project-description {
  font-family: "Montserrat", sans-serif;
  color: rgb(180, 180, 180);
  font-size: 18px;
}
.repo-div {
  width: 20%;
  display: inline-block;
}
.project-div {
  width: 20%;
  display: inline-block;
}
.repo-icon-text,
a p {
  text-decoration: none;

  color: white;
  font-family: "Quicksand", sans-serif;
}

/* Other Projects */
.other-projects-container {
  margin: 0 auto;
  width: 70%;
}
.otherProj {
  margin-bottom: 100px;
}
.otherProj-image {
  width: 300px;
  transition: 0.2s;
}
.otherProj-image:hover {
  opacity: 0.5;
  cursor: pointer;
}
.otherProj-title {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: white;
}
.otherProj-description {
  font-family: "Montserrat", sans-serif;
  color: rgb(180, 180, 180);
  font-size: 15px;
}
@media only screen and (max-width: 700px) {
  .projects-section {
    width: 95%;
    margin-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    display: block;
  }
  .project-image {
    width: 100%;
  }
  .project-description {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
