body {
  background-color: #242a49;
}
@media only screen and (max-width: 700px) {
  #main-menu-container a {
    display: none;
    visibility: hidden;
  }
  #logo {
    float: left;
  }
  #cartoon-container {
    margin-top: 40px;
  }
}

#main-menu-container {
  margin: 0 auto;
  text-align: center;
  display: inline;
}
.main-menu-icon {
  display: inline;
  margin-bottom: 3px;
  margin-right: 5px;
}
#logo-container {
  width: 50%;
  display: inline;
}
#logo {
  width: 45px;
  float: left;
  transition: transform 0.6s ease-in;
}
#logo:hover {
  transform: rotate(360deg);
}
svg#menu-icon {
  cursor: pointer;
}
.main-menu-item {
  margin: 0 auto;
  font-family: "Krona One", sans-serif;
}
.navbar {
  padding: 10px;
  background-color: #1c213a;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.navbar a {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.5s ease-out;
  cursor: pointer;
}
.navbar a:hover {
  color: #6600ff;
}

#mobile-nav-container {
  float: right;
}
.mobile-menu-item {
  margin: 0 auto;
  font-family: "Krona One", sans-serif;
}
li {
  list-style-type: none;
  text-align: center;
  padding: 20px;
}
li:last-child {
  margin-bottom: 40px;
}
#cartoon-container {
  width: 125px;
  margin: 0 auto;
  opacity: 0.8;
}
svg.nav-social-icon {
  display: inline;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
}
path {
  transition: color 0.5s ease-out;
  cursor: pointer;
}
path:hover {
  color: #6600ff;
  cursor: pointer;
}
#close-btn {
  color: #6600ff;
  font-size: 15px;
}
#close-btn:hover {
  cursor: pointer;
}
#close-nav {
  font-family: "Lexend Mega", sans-serif;
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50px;
  text-align: center;
}
#close-nav:hover {
  cursor: pointer;
}
#copyright {
  font-family: "Lexend Mega", sans-serif;
  color: #363636;
  font-size: 14px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
