/* Fonts */

/* Body Font font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Navbar font-family: "Oxanium", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap");

/* Subheader font-family: "Quicksand", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

/* HEADER font-family: "Krona One", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

/* HEADER option font-family: 'Bebas Neue', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* DANIEL PILLAY: font-family: 'Zen Dots', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

/* Section Headers */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #1c1026;
}
/* Page Headers */
.page-header {
  font-family: "Krona One", sans-serif;
  background: #12c2e9;
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  text-align: center;
}
/* Subsection Headers */
.section-header {
  font-family: "Zen Dots", cursive;
  font-size: 30px;
  margin-left: 10px;
  color: white;
  text-shadow: 2px 2px 10px black;
  opacity: 0.1;
  margin-top: 100px;
  letter-spacing: 2px;
  text-orientation: upright;
}
