/* Tailwind */
@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Lexend+Mega&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /* Header */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap"); /* Subheader */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); /* Body Text */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap"); /* Daniel Pillay */

html {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1c213a;
}
