/* Fonts */

/* Body Font font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Navbar font-family: "Oxanium", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap");

/* Subheader font-family: "Quicksand", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

/* HEADER font-family: "Krona One", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

/* HEADER option font-family: 'Bebas Neue', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* DANIEL PILLAY: font-family: 'Zen Dots', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #1c1026;
}
.page-header {
  font-family: "Krona One", sans-serif;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  text-align: center;
}
.section-header {
  font-family: "Zen Dots", cursive;
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 100px;
}
